/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.home{
	.site-content{
		padding-top: 0;
	}
}
.hero-home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0.4) 0px, rgba(0,0,0,0.4)), url(../../images/home-hero.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover, cover;
	height: 100vh;

}
.blog, .single{
	.site-content{
		display: flex;
		.content-area{
			border-right: 1px solid #e1e1e1;
			padding-right: 5%;
			padding-top: 3rem;
			padding-bottom: 3rem;
			width: 73%;
			.entry-header{
				line-height: 0;
				position: relative;
				h2{
					background-color: $color_green-brand;
					position: absolute;
					color: #ffffff;
					font-size: 2.1rem;
					left: 0;
					top: 0;
					padding: 0.75rem 1.5rem;
					margin-top: 2.25rem;
					max-width: 75%;
				}
				a{
					color: #ffffff;
				}
				.entry-meta{
					background-color: $color_green-brand;
					position: absolute;
					color: #ffffff;
					bottom: 0;
					right: 0;
					text-transform: uppercase;
					display: inline-block;
					font-family: 'Novecento Sans Web', sans-serif;
					padding: 1rem 1.5rem;
				}
			}
		}
		.widget-area{
			width: 27%;
			padding-left: 5%;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
} 
.site {
	flex: 1 0 auto;
 }
 
.site-content{
	padding-top: 50px;
}
.single-post {
	.entry-header {
		position: relative;
		h1 {
			background-color: $color_green-brand;
			color: $color__background-body;
			font-size: 2.1rem;
			padding: 0.75rem 1.5rem;
			margin-top: 2.25rem;
			max-width: 75%;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 0;
		}
		.entry-meta{
			background-color: $color_green-brand;
			color: $color__background-body;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			right: 0;
			a{
				color: $color__background-body;
			}
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 4.5rem;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.cat-links, .tags-links{
	display: inline-block;
	margin-right: 1.5rem;
	font-family: 'Novecento Sans Web', sans-serif;
	text-transform: uppercase;
}
.social-btn{
	margin: 1.5rem 0;
	i{
		margin-right: 10px;
	}
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
