/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.single-post {
	.entry-header {
		position: relative;
		h1 {
			background-color: $color_green-brand;
			color: $color__background-body;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 0;
		}
		.entry-meta{
			background-color: $color_green-brand;
			color: $color__background-body;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			right: 0;
			a{
				color: $color__background-body;
			}
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
