/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face{
    font-family: 'Merriweather Web';
    src: url(../../fonts/Merriweather/fonts/merriweather-light-webfont.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Merriweather Web';
    src: url(../../fonts/Merriweather/fonts/merriweather-lightitalic-webfont.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Merriweather Web';
    src: url(../../fonts/Merriweather/fonts/merriweather-bold-webfont.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Merriweather Web';
    src: url(../../fonts/Merriweather/fonts/merriweather-bolditalic-webfont.ttf);
    font-weight: bold;
    font-style: italic;
}