.site-header{
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: hsla(0,0%,100%,0.85);

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img{
        width: 50px;
        height: 30px;
    }
    .main-navigation{
        display: flex;
    }
}
.search-bar{
    padding-left: 1.5rem;
    line-height: 1;
    fieldset{
        padding: 0;
    }
    a{
        display: block;
        float: left;
    }
    label{
        float: left;
        display: none;
    }
}