.site-header{
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: hsla(0,0%,100%,0.85);

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img{
        width: 50px;
        height: 30px;
    }
    .main-navigation{
        display: flex;
    }
}
.search-bar{
    padding-left: 1.5rem;
    line-height: 1;
    fieldset{
        padding: 0;
    }
    button{
        display: block;
        float: left;
        background-color: transparent;
        padding: 0.3rem 0 0 0;
        i{
            color: $color_green-brand;
        }
    }
    label{
        width: 0;
        float: left;
        margin: 0;
        transition: width 1s;
        input{
            width: 0;
            transition: width 1s;
            background: transparent;
            border: 0;
            padding: 0;
            text-transform: uppercase;
            margin-left: 0.75rem;
            font-family: 'Novecento Sans Web', sans-serif;
            font-weight: normal;
            &:focus {
                outline: none;
            }
        }
    }
}