/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		
	}
	&:hover,
	&:focus,
	&:active {
		
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	font-family: 'Novecento Sans Web', sans-serif;
	text-transform: uppercase;

	ul{
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			padding-left: 1.5rem;
			float: left;
			position: relative;

			a{
				display: block;
				text-decoration: none;
			}
		}
	}
}