/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site-header {
    nav{
        li{
            padding: 0 2rem;
        }
    }
}
.page-about{
    .entry-content{
        .entry-header{
            width: 100vw;
            h1{
                color: #fff;
            }
            height: 100vh;
        }
        p, h2{
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
/* .site-content {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .content-area {
        width: 75%;
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        .site-main{
            max-width: 640px;
            .hero-image-header{
                height: 100vh;
                .entry-title{
                    color: white;
                }
            }
        }
    } */
    /* .widget-area {
        width: 25%;
        padding-left: 3%;
        .widget{
            a{
                color: $color_green-brand;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
} */

/* Footer */

.site-footer {
    background: url(../../../../uploads/2019/07/dark-wood@2x.png);
    color: white;
    padding: 1rem;
    a {
        color: white;
    };
    .site-info{
        text-align: center;
        text-transform: uppercase;
    }
    .footer-container{
        display: flex;
        .footer-grid{
            margin: 2rem 0;
            width: 25%;
            h3{
                color: $orange_brand_color;
                text-transform: uppercase;
            }
            span{
                font-weight: 700;
            }
        }
        .footer-grid:last-child{
            width: 50%;
            .footer-logo{
                text-align: right;
                img{
                    max-width: 50%;
                }    
            }
        }
    }
}



/* Front page */

.home{
    .hero-home, .shop-stuff, .journals{
        margin-bottom: 4.5rem;
    }
    img{
        height: 275px;
        width: 275px;
    }
    h2{
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 3.75rem;
        text-align: center;
    }
    .products{
        display: flex;
        justify-content: space-between;
        text-align: center;
        img{
            height: 70px;
            width: 70px;
        }
    }
    .products-wrapper{
        flex: 0 1 23.5%;
        max-width: 23.5%;
        padding: 0.75rem;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
    }
    .journals{
        ul{
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        li{
            flex: 0 1 32%;
            border: 1px solid #e1e1e1;
            position: relative;
        }
        .thumbnail-wrapper{
            position: relative;
            height: 250px;
            background-color: #e1e1e1;
            overflow: hidden;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                max-height: 250px;
                max-width: none;
                width: auto;
                transform: translate(-50%, -50%);
            }
        }
        .post-info-wrapper{
            flex-direction: column;
            justify-content: space-between;
            padding: 0.75rem;
            .entry-meta{
                font-size: 0.75rem;
            }
            .entry-title{
                font-size: 1.3rem;
                margin-bottom: 3.75rem;
            }
        }
        .journal-btn{
            position: absolute;
            bottom: 0.75rem;
            left: 0.75rem;
        }
    } 
    
}