/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
    max-width: 800px;
    margin: 0 auto;
}
.site-header {
    background-color: #ccc;
    padding: 1rem;
}
.site-content {
    background-color: #ccc;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;

    .content-area {
        flex-basis: 2;
        background-color: orange;
    }
    .widget-area {
        flex-basis: 1;
        background-color: yellow;
    }
}

/* Footer */

.site-footer {
    background-color: black;
    color: white;
    padding: 1rem;
    a {
        color: white;
    };
    .site-info{
        text-align: center;
        text-transform: uppercase;
    }
    .footer-container{
        display: flex;
        .footer-grid{
            margin: 2rem 0;
            width: 25%;
            h3{
                color: $orange_brand_color;
                text-transform: uppercase;
            }
            span{
                font-weight: 700;
            }
        }
        .footer-grid:last-child{
            width: 50%;
            .footer-logo{
                text-align: right;
                img{
                    max-width: 50%;
                }    
            }
        }
    }
}



/* Front page */

.home {

    .site {
        max-width: 90%;
    }
    .site-header {
        background-color: green;
        padding: 1rem;
    }
}

