/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
   flex: 1 0 auto;
}
.site-header {
    nav{
        li{
            padding: 0 2rem;
        }
    }
}
.page-about{
    .entry-content{
        .entry-header{
            width: 100vw;
            h1{
                color: #fff;
            }
            height: 100vh;
        }
        p, h2{
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
/* .site-content {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .content-area {
        width: 75%;
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        .site-main{
            max-width: 640px;
            .hero-image-header{
                height: 100vh;
                .entry-title{
                    color: white;
                }
            }
        }
    } */
    /* .widget-area {
        width: 25%;
        padding-left: 3%;
        .widget{
            a{
                color: $color_green-brand;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
} */

/* Footer */

.site-footer {
    background: url(../../../../uploads/2019/07/dark-wood@2x.png);
    color: white;
    padding: 1rem;
    a {
        color: white;
    };
    .site-info{
        text-align: center;
        text-transform: uppercase;
    }
    .footer-container{
        display: flex;
        .footer-grid{
            margin: 2rem 0;
            width: 25%;
            h3{
                color: $orange_brand_color;
                text-transform: uppercase;
            }
            span{
                font-weight: 700;
            }
        }
        .footer-grid:last-child{
            width: 50%;
            .footer-logo{
                text-align: right;
                img{
                    max-width: 50%;
                }    
            }
        }
    }
}



/* Front page */
